#header {
    background-image: url("../image/banner2.jpg");
    background-size: cover;
    background-position: center;
    height: 80vh;
}

.navbar-nav li a {
    float: right;
    color: #fff !important;
}

.navbar-brand img {
    width: 150px;
    margin-left: 30px;
}

.navbar-toggler {
    border: none !important;
    outline: none !important;
}

nav .fa-bars {
    color: #fff !important;
    font-size: 26px;
}