#services {
    background-color: #efefef;
    padding-top: 80px;
    padding-bottom: 80px;
}

#services .col-md-4 {
    padding: 20px;
}

#services .col-md-4 img {
    width: 50px;
}

#services .col-md-4 h4 {
    padding: 5px;
}

#services .col-md-4 p {
    padding: 5px;
    text-align: justify;
}