.subscribe {
    padding: 50px 20px;
    background-color: #013f7e;
    position: relative;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);
    margin-bottom: -160px;
}

.subscribe h3,
.subscribe p {
    color: #fff;
}

.subscribe .input-group {
    border-radius: 30px;
    background: #fff;
    max-width: 500px;
    margin: 10px auto;
    padding: 5px;
}

.subscribe .form-control {
    border: none;
    background: transparent;
}

.subscribe .form-control:focus {
    box-shadow: none;
    background: transparent;
}

.subscribe .input-group-append {
    background-image: linear-gradient(to right, #1c03b5, #1c03b5, #5c8bef);
    border-radius: 30px;
}

.subscribe .input-group-text {
    background: transparent;
    border: none;
    color: #fff;
}

.subscribe .btn:focus {
    box-shadow: none;
}

.subscribe .btn:hover {
    color: rgb(243, 132, 132);
}